/* Inport styles for each block separetely (like components) to avoid merge problems (maybe) */

@import 'blocks/visually-hidden.css';
@import 'blocks/top-menu.css';
@import 'blocks/main-menu.css';
@import 'blocks/company.css';
@import 'blocks/news.css';
@import 'blocks/sale.css';
@import 'blocks/promo.css';
@import 'blocks/copyright.css';

/* Variables = Should we use them ? */
:root {
    --brand-color-orange: #ff5816;
    --brand-color-blue: #4673ab;
}

/* Font */
html {
    font-family: 'Roboto', sans-serif;
}
