.adv-header {
    width: 100%;
}

.adv-header .banner {
    width: 100%;
    height: 48px;
    border-radius: 10px;
    background-color: #e3e5eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .info {
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 300;
    width: 100%;
    text-align: center;
    font-style: italic;
    line-height: 1.25;
    letter-spacing: normal;
    color: #131a1a;
}

.info span {
    font-weight: 500;
}

.info a {
    text-decoration: none;
    font-weight: 500;
    color: #4673ab;
}

@media (min-width: 950px) {
    .banner .info {
        font-size: 12px;
    }
}

@media (min-width: 1200px) {
    .banner .info {
        font-size: 16px;
    }
}
