.header .header__top {
  display: flex;
  justify-content: space-between;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.54;
  color: #323232;
  margin-bottom: 25px;
  margin-top: 15px;
}

.header__top a {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.54;
  color: #4673ab;
}

.region a {
  text-decoration: none;
  border-bottom: 1px dotted #4673ab;
}

.user a {
  margin-left: 20px;
}

.header .header__content {
  display: flex;
  justify-content: space-between;
}

.header__content .logo {
  width: 200px;
  display: flex;
  font-family: Roboto;
  font-size: 46px;
  font-weight: 100;
  line-height: 0.83;
  text-align: center;
  color: #040d0d;
  margin-left: -3px;
}

.header__content .logo .my {
  margin-top: -5px;
  width: 75px;
  height: 45px;
  background-image: url(../../img/logo-bg.png);
  background-repeat: no-repeat;
}

.header__content .logo span {
  margin-left: -33px;
  margin-top: 5px;
  position: absolute;
  font-weight: 300;
  color: #ff5816;
}

.header__content .text-under-logo {
  margin-top: 4px;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 300;
  line-height: 1.8;
  letter-spacing: 0.46px;
  color: #818588;
}

.header__content .contacts {
  width: 320px;
  display: flex;
  margin-top: -30px;
}

.header__content .callback {
  margin-right: 13px;
  width: 112px;
  height: 57px;
  background-image: url(../../img/shape.png);
  text-align: center;
  padding-top: 9px;
}

.callback .c-b-a {
  margin-left: -13px;
}

.callback a {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px dotted #4673ab;
  color: #4673ab;
}

.header__content .contacts-block {
  width: 180px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.54;
  color: #040d0d;
}

.contacts-block .phone {
  line-height: 1.1;
  font-size: 22px;
  font-weight: normal;
}

.contacts-block a {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.54;
  color: #4673ab;
}

.contacts-block .skype {
  margin-left: 20px;
}

.contacts-block .skype::before {
  margin-left: -20px;
  margin-top: 2px;
  position: absolute;
  content: url(../../img/skype.png)
}

.contacts-block .viber {
  margin-left: 40px;
}

.contacts-block .whatsup::before {
  margin-left: -20px;
  margin-top: 2px;
  position: absolute;
  content: url(../../img/whatsup.png)
}

.contacts-block .viber::before {
  margin-left: -40px;
  margin-top: 2px;
  position: absolute;
  content: url(../../img/viber.png)
}

.header__content .search-block {
  margin-top: -30px;
  width: 235px;
}

.search-block .s-header {
  text-transform: uppercase;
  margin-left: 30px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.13;
  color: #040d0d;
}

.search-block span {
  font-size: 18px;
  font-weight: normal;
  color: #ff5816;
}

.search-block .search-wrapper {
  margin-top: 12px;
  display: flex;
}

.search-block::before {
  content: url(../../img/rub.png);
  position: absolute;
  margin-top: 7px;
}

.search-block .input {
  width: 228px;
  height: 30px;
  border-radius: 4px;
  padding-left: 15px;
  border: none;
  background-color: #eff0f4;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.54;
  color: #7f8486;
}

.input:focus {
  outline: none;
}

.search-block button {
  margin-left: -60px;
  margin-top: 2px;
  width: 58px;
  height: 26px;
  border-radius: 3.5px;
  background-color: #ff5816;
  text-transform: lowercase;
  border: none;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}

.search-block button:hover {
  cursor: pointer;
}

.header__content .basket {
  margin-top: -15px;
  width: 200px;
}

.basket .basket__dear {
  padding-top: 10px;
  padding-left: 52px;
  width: 195px;
  height: 52px;
  border-radius: 10.5px;
  background-image: url(../../img/backet-bg.png);
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.38;
  color: #040d0d;
  margin-bottom: 4px;
}

.basket__dear .b-title {
  font-weight: 500;
  text-transform: uppercase;
}

.basket__dear .b-title::before {
  margin-left: -38px;
  margin-top: 5px;
  position: absolute;
  content: url(../../img/basket.png)
}

.favorites {
  margin-left: 1px;
  padding-bottom: 4px;
  margin-right: 14px;
  padding-left: 22px;
  border-bottom: 1px dotted #4673ab;
}

.favorites::before {
  margin-left: -21px;
  margin-top: 3px;
  position: absolute;
  content: url(../../img/heart.png)
}

.comparison {
  padding-bottom: 3px;
  padding-left: 22px;
  border-bottom: 1px dotted #4673ab;
}

.comparison::before {
  margin-left: -21px;
  position: absolute;
  content: url(../../img/refresh.png)
}

.basket__more-info a {
  text-decoration: none;
  font-family: Roboto;
  font-size: 11px;
  font-weight: 300;
  line-height: 1.64;
  color: #363c3e;
}

.basket__more-info a span {
  color: #4673ab;
  margin-left: 2px;
}
