.reasons {
  display: flex;
}

.wrapper-for-reasons{
  border-radius: 10px;
  max-width: 555px;
}

.wrapper-for-reasons.disadv{
  margin-right: 15px;
  border: solid 2px #f6bdbf;
}

.wrapper-for-reasons.adv{
  margin-left: 15px;
  border: solid 2px #9bd1a6;
}

.wrapper-for-reasons .header {
  border-radius: 8px 8px 0 0;
  padding: 5px 30px 5px 65px;
  height: 75px;
}

.disadv .header {
  padding-top: 20px;
  background-color: #cb0b13; 
}

.adv .header {
  padding-top: 28px;
  background-color: #16a333; 
}

.pin.cross {
  margin-left: -40px;
  margin-top: 6px;
  background-image: url(../../img/cross.png);
  width: 23px;
  height: 23px;
}

.pin.check {
  margin-left: -44px;
  background-image: url(../../img/check.png);
  width: 29px;
  height: 20px;
}

.pin {
  background-repeat: no-repeat;
  position: absolute;
}

.wrapper-for-reasons .title {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.33;
  color: #ffffff;
}

.reasons .content{
  margin: 25px 30px 40px 50px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.33;
  color: #040d0d;
}

.content li {
  margin-bottom: 15px;
}

.content li::before {
  position: absolute;
  width: 5px;
  height: 5px;
  font-size: 25px;
  content: "•"; 
  margin-left: -25px; 
  margin-top: -7px;
}

.disadv .content li::before{
  color: #cb0b13; 
}

.adv .content li::before{
  color: #16a333; 
}

.content span {
  font-weight: 500;
}

